/* English Use Font-family */

@font-face {
  font-family: Sen-Bold;
  src: url("/fonts/Sen/Sen-Bold.ttf");
}

@font-face {
  font-family: Sen-Regular;
  src: url("/fonts/Sen/Sen-Regular.ttf");
}

/* Hong Kong and Taiwan Use Font-family */

@font-face {
  font-family: SourceHanSansHWTC-Regular;
  src: url("/fonts/SourceHanSansHWTC-Regular.otf");
}

@font-face {
  font-family: SourceHanSansHWTC-Bold;
  src: url("/fonts/SourceHanSansHWTC-Bold.otf");
}

/* CodeBlock Use font-family */

@font-face {
  font-family: ComicMono;
  src: url("/fonts/ComicMono.ttf");
}

/*  title-h1-custom-01 Use font-family */

@font-face {
  font-family: Jost-Bold;
  src: url("/fonts/Jost/Jost-Bold.ttf");
}

/* Custom English font-family to Sen-Bold:
      h1,
      h2,
      h3,
      h4,
      h5,
      h6
*/

html[lang="en"] h1,
html[lang="en"] h2,
html[lang="en"] h3,
html[lang="en"] h4,
html[lang="en"] h5,
html[lang="en"] h6 {
  font-family: Sen-Bold;
}

/* Custom English font-family to Sen-Regular:
      p
*/

html[lang="en"] p{
  font-family: Sen-Regular;
}

html[lang="tw"] p{
  font-family: SourceHanSansHWTC-Regular;
}

html[lang="tw"] h1,
html[lang="tw"] h2,
html[lang="tw"] h3,
html[lang="tw"] h4,
html[lang="tw"] h5,
html[lang="tw"] h6 {
  font-family: SourceHanSansHWTC-Bold;
}
html[lang="hk"] p{
  font-family: SourceHanSansHWTC-Regular;
}

html[lang="hk"] h1,
html[lang="hk"] h2,
html[lang="hk"] h3,
html[lang="hk"] h4,
html[lang="hk"] h5,
html[lang="hk"] h6 {
  font-family: SourceHanSansHWTC-Bold;
}

/* Styles specific to the title-h1-custom-01 */ 

html[lang="en"] .title-h1-custom-01{
  font-family: Jost-Bold;
}

/* Styles specific to the Code-Block */ 

div.highlight pre {
  background: #24292f;
  color: #707b8a;
  font-size: auto;
  border-radius: 5px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow-wrap: initial;
  padding: 0.5rem;
  margin-bottom: 15px;
  margin-top: 15px;
  line-height: 1.2;
  display: block;
  overflow-x: auto;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #1a1a1a;
  color: #fff;

  font-family: ComicMono;
}

div.highlight {
  position: relative;
}

div.highlight button {
  color: #adb5bd;
  box-sizing: border-box;
  transition: 0.89s ease-out;
  cursor: pointer;
  user-select: none;
  background: rgba(134, 128, 128, 0.301);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 5px 10px;
  font-size: 0.8em;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0.50rem;
}