/*  Define All the Font Styles */

@font-face {
  font-family: Sen-Bold;
  src: url("/fonts/Sen/Sen-Bold.ttf");
}

@font-face {
  font-family: Sen-Regular;
  src: url("/fonts/Sen/Sen-Regular.ttf");
}

@font-face {
  font-family: SourceHanSansHWTC-Regular;
  src: url("/fonts/SourceHanSansHWTC/SourceHanSansHWTC-Regular.otf");
}

@font-face {
  font-family: SourceHanSansHWTC-Bold;
  src: url("/fonts/SourceHanSansHWTC/SourceHanSansHWTC-Bold.otf");
}

@font-face {
  font-family: ComicMono;
  src: url("/fonts/ComicMono/ComicMono.ttf");
}

@font-face {
  font-family: Jost-Bold;
  src: url("/fonts/Jost/Jost-Bold.ttf");
}

/* English Font Styles */

html[lang="en"] h1,
html[lang="en"] h2,
html[lang="en"] h3,
html[lang="en"] h4,
html[lang="en"] h5,
html[lang="en"] h6 {
  font-family: Sen-Bold;
}

html[lang="en"] p {
  font-family: Sen-Regular;
}

html[lang="en"] .title-h1-custom-01 {
  font-family: Jost-Bold;
}

html[lang="en"] .header-li-custom-01 {
  font-family: Sen-Regular;
}

html[lang="en"] .footer-social-custom-01 {
  font-family: Sen-Bold;
}

html[lang="en"] .footer-social-custom-02 {
  font-family: Sen-Regular;
}

/* Heart animation styling */

.heart-animation {
  margin: 0 0.25em 0.3em; /* Margin around the heart icon */
  fill: #f06292; /* Heart color */
  animation: heartbeat 1.33s ease-in-out infinite; /* Apply heartbeat animation */
  width: 2rem; /* Set width of heart icon */
  height: 2rem; /* Set height of heart icon */
  display: inline-flex; /* Display as inline-flex */
}

/* Heartbeat animation keyframes */
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1); /* Normal scale at 0% and 100% */
  }
  50% {
    transform: scale(1.1); /* Slightly larger scale at 50% for the beat effect */
  }
}

.custom-footer-copyright-01{
  font-family: Sen-Regular;
}


/* Taiwan Font Styles */

html[lang="tw"] p,
html[lang="tw"] h1,
html[lang="tw"] h2,
html[lang="tw"] h3,
html[lang="tw"] h4,
html[lang="tw"] h5,
html[lang="tw"] h6 {
  font-family: SourceHanSansHWTC-Bold;
}

html[lang="tw"] .header-li-custom-01,
html[lang="tw"] .params-title-custom-01 {
  font-family: SourceHanSansHWTC-Bold;
}

html[lang="tw"] .params-description-custom-01 {
  font-family: SourceHanSansHWTC-Regular;
}

/* Hong Kong Font Styles */

html[lang="hk"] p,
html[lang="hk"] h1,
html[lang="hk"] h2,
html[lang="hk"] h3,
html[lang="hk"] h4,
html[lang="hk"] h5,
html[lang="hk"] h6 {
  font-family: SourceHanSansHWTC-Bold;
}

html[lang="hk"] .header-li-custom-01,
html[lang="hk"] .params-title-custom-01 {
  font-family: SourceHanSansHWTC-Bold;
}

html[lang="hk"] .params-description-custom-01 {
  font-family: SourceHanSansHWTC-Regular;
}

/* Styles specific to the Code-Block */ 

div.highlight pre {
  background: #24292f;
  color: #707b8a;
  font-size: auto;
  border-radius: 5px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow-wrap: initial;
  padding: 0.5rem;
  margin-bottom: 15px;
  margin-top: 15px;
  line-height: 1.2;
  display: block;
  overflow-x: auto;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #1a1a1a;
  color: #fff;

  font-family: ComicMono;
}

div.highlight {
  position: relative;
}

div.highlight button {
  color: #adb5bd;
  box-sizing: border-box;
  transition: 0.89s ease-out;
  cursor: pointer;
  user-select: none;
  background: rgba(134, 128, 128, 0.301);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 5px 10px;
  font-size: 0.8em;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0.50rem;
}